# -*- coding: utf-8 -*-
# $HOME/.config/jago/config.yaml

path:
  cache: ".cache/jago"
  data: ".local/share/jago"
credentials:
  username: {{ onepasswordRead "op://JAMS/JAMSAccess/username" }}
  password: {{ onepasswordRead "op://JAMS/JAMSAccess/password" }}
  awselb: {{ onepasswordRead "op://JAMS/JAMSAccess/AWSELB" }}
  awselbcors: {{ onepasswordRead "op://JAMS/JAMSAccess/AWSELBCORS" }}

