# -*- coding: utf-8 -*-
# $HOME/.config/jago/config.yaml

path:
  cache: ".cache/jago"
  data: ".local/share/jago"
jams:
  username: {{ onepasswordRead "op://JAMS/JAMSAccess/username" }}
  password: {{ onepasswordRead "op://JAMS/JAMSAccess/password" }}
pocketbase:
  username: {{ onepasswordRead "op://JAMS/jams-proxy superuser/username"}}
  password: {{ onepasswordRead "op://JAMS/jams-proxy superuser/password"}}
